/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  --main-title-color: #ffc2e6;
  --section-title-color: #353430;
  --section-title-color-opacity: rgba(50, 49, 45, 0.4);
  --accent-color: #ff8dcb;
  --section-subtitle-color: #353430;
  --description-color: #353430;
  --bg-color: #fff1f7;
  background-image: url(../images/cover-image-light.png);
}

.theme_light .header__decorative-element {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --main-title-color: #ffc2e6;
    --section-title-color: #353430;
    --section-title-color-opacity: rgba(50, 49, 45, 0.4);
    --accent-color: #ff8dcb;
    --section-subtitle-color: #353430;
    --description-color: #353430;
    --bg-color: #fff1f7;
  }

  .page {
    background-image: url(../images/cover-image-light.png);
  }

  .header__decorative-element {
    display: none;
  }
}

@media screen and (width >=1024px) {
  .header__title {
    text-shadow: 4px 4px 0px #ff0070;
  }

  .footer__title {
    text-shadow: 2px 2px 0px #ff0070;
  }
}